EXCHANGE_RATES_ACCESS_KEY=08c809d07727b2bc5fc26e9e49acf657

DEPOSIT_FEE_RATE=0.0003
BUSINESS_WITHDRAW_FEE_RATE=0.005
PRIVATE_WITHDRAW_FEE_RATE=0.003
FREE_LIMIT=1000.00
FREE_OPERATIONS_LIMIT=3

CURRENCY_DECIMAL_PLACES_EUR=2
CURRENCY_DECIMAL_PLACES_USD=2
CURRENCY_DECIMAL_PLACES_JPY=0
